name: flutter_screen_recording_web
description: Web platform implementation of flutter_screen_recording
version: 1.0.8
homepage: "https://github.com/Isvisoft/flutter_screen_recording"

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_screen_recording_platform_interface: ^1.0.3

  flutter_web_plugins:
    sdk: flutter
  web: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      web:
        pluginClass: WebFlutterScreenRecording
        fileName: flutter_screen_recording_web.dart
